{% extends "base.html" %}

{% block content %}
    <h1>About</h1>
    <p>nothing</p>

<h3>{{ title|capfirst|title }}</h3>

{{ my_html|striptags|slugify }}

<p>
    {{ my_number }}
</p>

<ul>
{% for abc in my_list %}
    {% if abc == 123 %}
        <li>{{ forloop.counter }} - {{ abc|add:22 }}</li> 
    {% elif abc == 4242 %}
        <li>{{ forloop.counter }} - {{ abc|add:90 }}</li> 
    {% else %}
        <li>{{ forloop.counter }} - {{ abc }}</li>
    {% endif %}

    {% endfor %}
</ul>

{% endblock%}